* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(90.19% 135.29% at 49.99% 112.93%, #007783 0%, #007783 1.18%, #00516B 36.86%, #002B54 61.18%, #001535 74.9%, #000016 100%);
}

h2 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 0 32px rgba(0, 5, 30, 0.5);
}

.slider-container {
    margin-top: 115px;
}

.text {
    margin-left: 158px;
} 

.swiper-wrapper {
    display: flex;
    margin-top: 51px;
    justify-content: center;
    min-width: 0;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    align-items: center;
}

.swiper-slide > * {
    padding: 1rem;
}

.swiper-slide h2 {
    text-align: center;
}

.swiper-slide span {
    color: #EFCD9A;
}

p {
    color: #fff;
}

.text-price,
.text-price span {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 32px rgba(0, 5, 30, 0.5);
}

.text-price span{
    font-size: xx-large;
    font-weight: 600;
}

.button {
    padding: .5rem 1rem;
    background-color: #90CAF9;;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 300;
}

.button:hover {
    cursor: pointer;
    background-color: #FFF9C4;
}

.img-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}